Project estimation assistant.json
{
  "name": "Project estimation assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-estimate",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        512,
        160
      ],
      "id": "6fefd7a4-ea6c-49cb-bad1-6b4e7448f48b",
      "name": "Webhook",
      "webhookId": "43146ed4-92c5-4a6d-b904-612f4111cdd0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Project Name: {{ $json.body.project_name }}\nProject Type: {{ $json.body.project_type }}\nFeatures: {{ $json.body.features }}\nComplexity Level: {{ $json.body.complexity }}\nTimeline Preference: {{ $json.body.timeline }}",
        "options": {
          "systemMessage": "You are a project estimation expert.\n\nYour task is to estimate project time, effort, and team size based on the provided project details.\n\nProvide:\n1. Estimated duration (weeks)\n2. Required team size\n3. Effort level (Low / Medium / High)\n4. Short reasoning\n\nReturn your estimation in a clear, structured format."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        736,
        160
      ],
      "id": "fca96b90-de78-4fe9-a9ea-2e1867210b56",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"estimation_result\": $json.output } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1088,
        160
      ],
      "id": "cdb6ab9e-5c7e-4b57-a5a7-65a516ac64b0",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        384
      ],
      "id": "19063ff9-6ca9-4fc2-b602-db966256d4a8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "iACucixdm3NWJeJA",
          "name": "n8n free OpenAI API credits"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f8e31c68-8b41-4d8b-9457-74586c65923a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b45e4d659aac31b993c67c44795afd4490fa0bd54deab62745ce1afef5003a4"
  },
  "id": "mlhqXBr0PdThevfc",
  "tags": []
}